# dependencies
node_modules/

# ignore environment files
.env
.env.*

# build outputs
dist/
build/

# TypeScript incremental build info
*.tsbuildinfo

# Generated Vite config outputs
vite.config.js
vite.config.d.ts

# misc
.DS_Store
*.log
